@charset "UTF-8";

* {
  font-family: 'Open Sans', sans-serif;
}
/* Small devices (phones) */
@media screen and (min-width: 100px) and (max-width: 768.9px) {
  body {
    padding: 25px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-size: 25px;
  }
  header nav ul { list-style: none;}
  header nav ul a {text-decoration: none;}
  header nav ul a:link {color: #2f4696;}
  header nav ul a:visited {color: #2f4696;}
  header nav ul a:hover{color: #e42029;} 
  #contact {
    margin-top: 160vw;
  }  

  .contact-form{
    width: 85%;
    max-width: 600px;
    margin-top: 30vh;
    background: #141212;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 20px #000000b3;
  }
  .contact-form h1{
    margin-top: 0;
    font-weight: 200;
  }
  .txtb{
    border: 1px solid gray;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;
  }
  .txtb label{
    display: block;
    text-align: left;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
  }
  .txtb input,.txtb textarea{
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
  }
  .btn{
    display: inline-block;
    background: #2f4696;
    padding: 13px 0;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin-top: 8px;
    width: 100%;
  }
}


/* Large devices (desktops)*/
@media screen and (min-width: 769px) {


/*NAV*/

body {
  padding: 25px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  font-size: 25px;
}

header {
  height: 0.0001vh;
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  margin-top: 2vh;
}
header nav ul {
  list-style: none;
}
header nav ul a {
  text-decoration: none;
  padding: 9px;
  padding-left: 2vw;
  font-size: 2rem;
  align-self: center;
}
header nav {
  padding-bottom: 5px;
  padding-top: 0px;
  margin-bottom: -2.4vh;
}


header nav ul a:link {color: #2f4696;}
header nav ul a:visited {color: #2f4696;}
header nav ul a:hover{color: #e42029;} 

.logo {
  flex: 1;
  margin-left: 2vw;
  margin-top: 4vh;
}
nav {
  flex: 5;
  margin-top: 6vh;
}

#gray-ground {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10vh 20vh;
  background-color: #141212;

}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  float: left;
  padding: 2vw;
  padding-left: 3vw;
  margin: 3vw;
  align-items: center;
}

#contact {
  margin-top: 25vw;
}

.contact-form{
  width: 85%;
  max-width: 600px;
  margin-top: 20vh;
  background: #141212;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
}
.contact-form h1{
  margin-top: 0;
  font-weight: 200;
}
.txtb{
  border: 1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}
.txtb label{
  display: block;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}
.txtb input,.txtb textarea{
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}
.btn{
  display: inline-block;
  background: #2f4696;
  padding: 13px 0;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin-top: 8px;
  width: 100%;
}
}