@charset "UTF-8";





/* Small devices (phones) */
@media screen and (min-width: 100px) and (max-width: 768.9px) {

}


/* Large devices (desktops)*/
@media screen and (min-width: 769px) {


/*Header here*/
body {
    background-color: #7FFFD4;
    width: 90vh;
}
header {
    height: 15vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    margin-top: 2vh;
}
header nav ul {
    list-style: none;
}
header nav ul a {
    text-decoration: none;
    color: black;
    padding: 9px;
    padding-left: 2vw;
    font-size: 2rem;
    align-self: center;
}
header nav {
    border: 2px solid black;
}
a:hover {color: red;}
  
.logo {
    flex: 1;
    margin-left: 2vw;
}
nav {
    flex: 4;
    margin-top: 2vh;
}
  
  
  
/*FAQ HERE*/
main h1 {
    font-size: 4rem;
}
#item-faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;

    width: 90vw;
    padding: 0 2vw;
}

.accordion {
    
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 60%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
  
.active, .accordion:hover {
    background-color: rgb(0, 0, 0); 
    color: aliceblue;
}
  
.panel {
    width: 50%;
    display: none;
    background-color: white;
    overflow: hidden;
    padding: 1vh 2vw;
}

footer {
    height: 20vh;
}

}
