@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: lightgrey;
  text-align: center;
}

#navigatie {
  background-color: blue;
  overflow: hidden;
}

#navigatie a {
  float: center;
  color: black;
  text-align: center;
  padding: 5px 10px;
  transition: all 200ms ease-out;
  text-decoration: none;
  font-size: 1.5rem;
}

#navigatie a:hover{
  color: rgb(73, 73, 73);
  transition: 0.3s;
}

nav {
  background-color:white;
  position: center;
}

ul {
  width: auto;
  margin-top: 7px;
}

li {
  display: inline-block;
  padding: 15px 20px;
}

h1 {
  margin: 10px;
}

#ingredienten {
  text-align: right;
  margin-right: 5vw;
}


/* Small devices (phones) */
@media screen and (min-width: 100px) and (max-width: 768.9px) {

}


/* Large devices (desktops)*/
@media screen and (min-width: 769px) {

  /*NAV*/
}