@charset "UTF-8";

body {
  background-color: #7FFFD4;
  width: 90vh;
}
header {
  height: 10vh;
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
}
header nav ul {
  list-style: none;
}
header nav ul a{
  text-decoration: none;
  color: black;
}
a:hover {color: red;}

/* Small devices (phones) */
@media screen and (min-width: 100px) and (max-width: 768.9px) {

}


/* Large devices (desktops)*/
@media screen and (min-width: 769px) {

}
